/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

  /* montserrat-alternates-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/montserrat-alternates-v18-latin/montserrat-alternates-v18-latin-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chewy-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/chewy-v18-latin/chewy-v18-latin-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.comments {
  display: flex;
  justify-content: center;
  font-family: 'Chewy', sans-serif;
}

.submission {
  display: flex;
  justify-content: center;
}

.judeex img {
  display: block;
  height: 450px;
  align-items: center;
  margin: auto;
  border: rgba(234, 99, 140, 1) solid 4px;
}

.judefb img {
  display: block;
  height: 450px;
  align-items: center;
  margin: auto;
  border: rgba(234, 99, 140, 1) solid 4px;
}

.arrows {
  display: flex;
  justify-content: space-between;
}

.arrows img {
  height: 100px;
}

h3 {
  color: #FFD9DA;
  padding-left: 15px;
  padding-top: 10px;
}

.header {
  text-align: center;
  background-color: rgba(137, 2, 62, 1);
  padding: 80px 80px;
  font-size: 40px;
  font-family: 'Chewy', sans-serif;
}

p {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.article {
  background-color:#EA638C;
}

body {
  background-color: #FFD9DA;
background: radial-gradient(circle, transparent 20%, #FFD9DA 20%, #FFD9DA 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #FFD9DA 20%, #FFD9DA 80%, transparent 80%, transparent) 60px 60px, linear-gradient(#EA638C 4.800000000000001px, transparent 4.800000000000001px) 0 -2.4000000000000004px, linear-gradient(90deg, #EA638C 4.800000000000001px, #FFD9DA 4.800000000000001px) -2.4000000000000004px 0;
background-size: 120px 120px, 120px 120px, 60px 60px, 60px 60px;
}

.footer {
  margin-top: 50px;
  background-color: rgba(137, 2, 62, 1);
}

.footer a:visited {
  color: rgba(255, 217, 218, 1);
  text-decoration: none;
}
.footer a:link {
  color: rgba(234, 99, 140, 1);
  text-decoration: none;
}

a:link {
  color: rgba(234, 99, 140, 1);
  text-decoration: none;
}

a:visited {
  color: rgba(255, 217, 218, 1);
  text-decoration: none;
}

.header a:visited {
  color: rgba(255, 217, 218, 1);
  text-decoration: none;
}

.header a:link {
  color: rgba(255, 217, 218, 1);
  text-decoration: none;
}



 /* Montserrat Font */

html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

/* Chewy Font */
html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Chewy', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { 
  font-size: 1.95em;
  font-family: 'Chewy', sans-serif;
}

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}